* {
	margin:0;
	padding: 0;
}
input[type="text"] {
	width: 25px;
}
#info {
	position: fixed;
	z-index: 125;
	top: 0;
	right: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
}
	#info .marg20 {
		margin-right: 20px;
	}
#modalWindowHouse {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	/*background-color: rgba(0,0,0,0.8);*/
}
	#modalWindowHouse .houseRadius {
	   	position: absolute;
	    /*top: -22px;
	    left: -22px;
	    width: 60px;
	    height: 60px;*/
	    border: 2px solid red;
	}
.mymodal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.8);
	z-index: 200;
}
	.mymodal .imgCloseModal {
		position: absolute;
		top: 30px;
		right: 30px;
	}


	ul.dropdown li { position: relative; }
	 ul.dropdown,
	 ul.dropdown-inside {
	 list-style-type: none;
	 padding: 0;
	 cursor: pointer;
	 }
	 ul.dropdown-inside {
	 position: absolute;
	 left: -9999px;
	 }
	 ul.dropdown li.dropdown-top {
	 display: inline;
	 float: left;
	 margin: 0 1px 0 0;
	 }
	 ul.dropdown li.dropdown-top label {
	 padding: 3px 10px 4px;
	 display: block;
	 }
	 ul.dropdown label.dropdown-top { background: #efefef; }
	 ul.dropdown label.dropdown-top:hover { padding: 2px 10px 5px; }
	 ul.dropdown li.dropdown-top:hover .dropdown-inside {
	 display: block;
	 left: 0;
	 }
	 ul.dropdown .dropdown-inside { background: #fff; }
	 ul.dropdown .dropdown-inside label:hover { background: #efefef; }
#map {
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0;
	bottom: 100px;
	right: 0;
	border: 1px solid #989898;
}	
	#map .houseRadius {
	   	position: absolute;
	    /*top: -22px;
	    left: -22px;
	    width: 60px;
	    height: 60px;*/
	    border: 1px solid rgba(0,0,0,0.1);
	}
	#map .imgOnMapWithoutDiv {
		position: absolute;
		width: 14px;
		height: 14px;
	}
	#map .lineDiv {
		position: absolute;
		background-color: rgba(0,0,0,0.3);
	}
	.imghouse, .imgbot {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width:100%;
	}
	.house, .bot {
		position: absolute;
		width: 1px;
		height: 1px;
		left: 0;
		top: 0;
	}
	#map .bot .inpHp {
		position: absolute;
		left: 0;
		top: 0;
		width: 0;
		height: 4px;
		border:1px solid rgba(0,0,0,0.3);;
	}
	#map .bot .paddHp {
		background-color: rgba(10,115,10,0.5);
		height: 100%;
		width: 100%;
	}
	#map .bot .paddHp.backrColRed {
		background-color: rgba(251,10,10,0.5);
	}
	#map .nodeShot {
		position: absolute;
		background-color: black;
	}

#controls {
	position: fixed;
	z-index: 100;
	//top: 0px;
	left: 0;
	bottom: 0px;
	right: 0;
}